{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1>Mentions légales</h1>

		<h2>Éditeur du site</h2>
		<p>
			Nom : René Leliard<br>
			Statut : Micro-entrepreneur<br>
			SIRET : 93229067900012<br>
			Adresse : 2 rue de la bronque 30290 Saint Victor la Coste<br>
			Email :
			<a href="mailto:developpeur.web.gard@gmail.com">developpeur.web.gard@gmail.com</a><br>
		</p>

		<h2>Hébergeur</h2>
		<p>
			Hébergeur : Hostinger International Ltd<br>
			Adresse : 61 Lordou Vironos Street, 6023 Larnaca, Chypre<br>
			Site web :
			<a href="https://www.hostinger.fr" target="_blank">www.hostinger.fr</a>
		</p>

		<h2>Propriété intellectuelle</h2>
		<p>
			Tous les contenus (textes, images, logos) présents sur ce site sont la propriété exclusive de René Leliard, sauf mention contraire, et ne peuvent être utilisés sans autorisation.
		</p>

		<h2>Responsabilité</h2>
		<p>
			L’éditeur du site ne saurait être tenu responsable d’un mauvais usage des informations diffusées.
		</p>
	</div>
{% endblock %}
